<main class="h-100" style="background-color:whitesmoke;">
    <div class="position-relative mb-4">
      <div class="container p-4 shadow rounded">
        <div class="row justify-content-center">
          <div class="col-lg-12">
              <%= form_for @register, remote: true do |f| %>

                <%= f.hidden_field :category, value: "2" %>

                <div class="row mt-2">
                    <div class="col-md-2"><h6>Full Name*</h6></div>
                    <div class="col-md-10"><%= f.text_field :full_name, placeholder: "Full Name", class: "form-control" %></div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-2"><h6>Phone Number</h6></div>
                    <div class="col-md-4"><%= f.text_field :phone_number, placeholder: "Phone Number (Optional)", class: "form-control" %></div>
                    <div class="col-md-2"><h6>IC / Passport Number</h6></div>
                    <div class="col-md-4"><%= f.text_field :identity_number, placeholder: "IC / Passport Number (Optional)", class: "form-control" %></div>
                </div>

                <br>

                <div class="row mt-2">
                    <div class="col-md-2"><h6>Entitled Number of Draw*</h6></div>
                    <div class="input-group mb-3 col-md-10">
                        <%= f.select(:drawing_chance, {"1" => 1, "3" => 3, "5" => 5}, {include_blank: "Select Here"}, class: "custom-select", id: "state") %>
                    </div>
                </div>

                <% if current_user.super? && action_name == "edit" %>
                <h6>Super Admin Option Only</h6>
                <div class="row mt-2">
                    <div class="col-md-2"><h6>Ticket Number</h6></div>
                    <div class="col-md-10"><%= f.text_field :ticket_number, placeholder: "Ticket Number", class: "form-control" %></div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-2"><h6>Printing Status</h6></div>
                    <div class="input-group mb-3 col-md-10">
                        <%= f.select(:status, {"Unprint" => 0, "Printed" => 1}, {include_blank: "Select Here"}, class: "form-control") %>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-2"><h6>Category</h6></div>
                    <div class="input-group mb-3 col-md-10">
                        <%= f.select(:status, {"Walk-In" => 0, "Registered" => 1, "RSVP" => 2}, {include_blank: "Select Here"}, class: "form-control") %>
                    </div>
                </div>
                <% end %>

                <br>

                <div class="row justify-content-center">
                  <%= f.submit "Submit Registration", class: "btn btn-primary", data: { confirm: 'Are you sure?' } %>
                </div>

                <br><br>
        
            <% end %>
          </div>
        </div>
      </div>
    </div>


  </main>
