<% @registers.each do |r| %>
    <tr>
        <td><%= r.id %></td>
        <td><%= r.first_name %></td>
        <td><%= r.last_name %></td>
        <td><%= r.phone_number %></td>
        <td><%= r.email %></td>
        <td><%= r.field_1 %></td>
        <td><%= r.field_2 %></td>
        <td><%= r.field_3 %></td>
        <td><%= link_to 'Show', r %></td>
        <td><%= link_to 'Edit', edit_register_path(r) %></td>
        <td><%= link_to 'Delete', r, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
<% end %>