<% @registers.each do |r| %>
    <tr>
        <td><%= r.id %></td>
        <td><%= r.category %></td>
        <td><%= r.first_name %></td>
        <td><%= r.last_name %></td>
        <td><%= r.ticket_number %></td>
        <td><%= r.phone_number %></td>
        <td><%= r.drawing_chance %></td>
        <td class="<%= r.status %>" id="status-<%= r.id %>"><%= r.status %></td>
        <td><span class="bg-success rounded p-1 m-1"><%= link_to "Print", printa_register_path(r), class: "small text-white", remote: true %></span></td>
        <td><span class="bg-info rounded p-1 m-1"><%= link_to 'Edit', edit_register_path(r), class: "small text-white", target: "_blank" %></span></td>
        <td><span class="bg-danger rounded p-1 m-1"><%= link_to 'Delete', r, method: :delete, class: "small text-white", data: { confirm: 'Press ok to confirm you submission.' } %></span></td>
    </tr>
<% end %>