<% @registers.each do |r| %>
    <tr>
        <td><%= r.id %></td>
        <td><%= r.full_name %></td>
        <td><%= r.first_name %></td>
        <td><%= r.info_1 %></td>
        <td><%= r.category %></td>
        <td class="<%= r.status %>" id="status-<%= r.id %>"><%= r.ticket_number %></td>
        <td>
            <%= check_box_tag("completed", r.id, r.attendance,
                               data: {
                                remote: true,
                                url: url_for(action: 'attendance', id: r.id),
                                method: 'POST'}) %>
        </td>
        <td><span class="bg-success rounded p-1 m-1"><%= link_to "Print", printa_register_path(r), class: "small text-white", remote: true %></span></td>
        <% if current_user.super? %>
        <td><span class="bg-info rounded p-1 m-1"><%= link_to 'Edit', edit_register_path(r), class: "small text-white", target: "_blank" %></span></td>
        <td><span class="bg-danger rounded p-1 m-1"><%= link_to 'Delete', r, method: :delete, class: "small text-white", data: { confirm: 'Press ok to confirm you submission.' } %></span></td>
        <% end %>
    </tr>
<% end %>