<page size="A4" layout="" id="print-section">

    <div id="row-1" class="row" style="width:100%;height:52%;">
    </div>

    <div id="row-2" class="row" style="width:100%;height:23%;">
        <div class="col-3"></div>
        <div id="info-row-2 mr-auto" class="part col-5 w-100">
            <p id="hla-1">
                <% if @register.first_name.nil? %>
                <%= @register.full_name %>
                <% else %>
                <%= @register.first_name %>
                <% end %>
            </p>
            <p id="hla-2"><%= @register.info_1 %></p>
        </div>
        <div id="number-row-2" class="column col-4 mx-auto my-auto w-100">
            <p id="hla-3" class="white-shadow-sm mt-5 mr-4" style="font-size:480%;font-family:Arial;text-align: center;"><%= @register.ticket_number %></p>
        </div>
    </div>

    <div id="row-3" class="row mt-2" style="width:100%;height:23%;">
        <div id="info-row-3" class="part col-6">
            <p id="hla-4"><%= @register.full_name %></p>
            <p id="hla-5"><%= @register.info_1 %></p>
        </div>
        <div id="number-row-3" class="column col-6 mx-auto my-auto w-100;">
            <p id="hla-6" class="white-shadow-sm mt-5"><%= @register.ticket_number %></p>
        </div>
    </div>

</page>