
<div class="modal-header bg-info" id="modal-header">
    <span class='text-special text-white display-6'>Check Information</span>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>

<div class="modal-body p-0" id="modal-body">
    <div id="print">
        <div class="row text-special m-2">
            <div class="col-2">
                <span class="text-success"><b>Company</b></span>
            </div>
            <div class="col-10">
                <%= @register.company %>
            </div>
            <div class="col-2">
                <span class="text-success"><b>Name</b></span> 
            </div>
            <div class="col-10">
                <%= @register.full_name %>
            </div>
            <div class="col-2">
                <span class="text-success"><b>EmployeeID</b></span> 
            </div>
            <div class="col-10">
                <%= @register.employee_id %>
            </div>
            <div class="col-2">
                <span class="text-success"><b>Ticket</b></span> 
            </div>
            <div class="col-10">
                <%= @register.ticket_number %>
            </div>
            <% if @register.event.evoting %>
            <div class="col-2">
                <span class="text-success"><b>eVote Code</b></span> 
            </div>
            <div class="col-10">
                <%= @register.poll_voter.evote_code if @register.poll_voter %>
            </div>
            <% end %>
        </div>
    </div>
</div>

<div class="modal-footer" id="modal-footer">
    <div class="row justify-content-center">
        <%= link_to "Click to Print", printupdate_register_path(@register.id), class: "btn btn-primary m-2 mr-4", id: "printBtn", remote: true  %>
    </div>
</div>