<div class="modal-header bg-info" id="modal-header">
    <span class='text-white display-6'>Check Information</span>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>

<div class="modal-body p-0" id="modal-body">
    <div id="print">
        <div class="m-2">

            <p><b>Company</b></p>
            <p><%= @register.company %></p>
            
            <p><b>Name</b></p>
            <p><%= @register.full_name %></p>

            <p><b>Employee</b></p>
            <p><%= @register.employee_id %></p>

            <p><b>Ticket</b></p>
            <p><%= @register.ticket_number %></p>

        </div>
    </div>
</div>

<div class="modal-footer" id="modal-footer">
    <div class="row justify-content-center">
        <%= link_to "Click to Print", printupdate_register_path, class: "btn btn-primary m-2 mr-4", id: "printBtn", remote: true  %>
    </div>
</div>