<main>
  <div class="position-relative mb-4" style="min-height:10rem;">
    <div class="container p-4 bg-glass shadow rounded">

      <div class="row justify-content-center mt-4">
        <div class="col-lg-12 text-center" id="slogan">
          <h2 class="text-special text-black">Select Your Register Category</h2>
          
          <div class="row">
            <div class="col-md-12 mx-auto">

              <%= form_for :register, url: list_registers_path, method: "get", remote: true do |f| %>

              <div class="form-group ml-4 mr-4">
                <%= button_tag "All", value: 3, type: "submit", id: "btn-all", class: "btn btn-outline-primary" %>
                <%= button_tag "Registered", value: 0, type: "submit", id: "btn-walkin", class: "btn btn-outline-primary" %>
                <%= button_tag "Reserved", value: 1, type: "submit", id: "btn-reg", class: "btn btn-outline-primary" %>
                <%= button_tag "Others", value: 2, type: "submit", id: "btn-rsvp", class: "btn btn-outline-primary" %>
              </div>

              <div class="custom-control custom-checkbox d-inline">
                <%= check_box_tag :check, true, false, id: "check-in"%>
                <%= label_tag :check, "Hide Registered Customer" %>
                <%= check_box_tag :uncheck, true, false, id: "not-check-in"%>
                <%= label_tag :uncheck, "Hide Unregister Customer" %>
                <%= check_box_tag :hide_sort, true, false, id: "status_unprint"%>
                <%= label_tag :hide_sort, "Show Unprint Only" %>
              </div>

              <% end %>

              <% if current_user.super? %>
                <%= link_to 'Reset Registers', reset_registers_path, method: "post", class: "text-black" %>
              <% end %>

            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-lg-12">
          <p id="summary" class="text-black text-special text-left">
          CheckIn <%= Register.where(checkin: true).count %> / 
          Registered <%= Register.where(attendance: true).count %> / 
          All <%= Register.all.count %>
          </p>
          <table id="data-table" class="table table-sm table-responsive-lg table-striped" style="font-size:0.7rem">
            <thead class="bg-primary text-dark">
              <tr>
                <th>Full Name</th>
                <th>Company</th>
                <th>Department</th>
                <th>Emp ID</th>
                <th>Registered</th>
                <th>CheckIn</th>
                <th>Lucky Draw</th>
                <th>Show</th>
                <% if current_user.super? %>
                <th>Edit</th>
                <th>Delete</th>
                <% end %>
              </tr>
            </thead>

            <tbody id="search">
            </tbody>

          </table>
          <br>
        </div>
      </div>
    </div>
  </div>
</main>

<script>

loadjs(0);

$('.btn').on('click', function() {
  $('#summary').html('<i class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i><span class="small"> loading data...</span>');
});

function loadjs(sortCol) {
  $(document).ready(function() {
    $('#data-table').DataTable({
      "order": [[ sortCol, "asc" ]],
      "search": {
        "caseInsensitive": true
      },
      "pageLength": 20,
      "dom": 'Bfrtip',
      buttons: [
        {
            extend: 'excel',
            exportOptions: {
                orthogonal: 'sort'
            }
        }        
      ],
      columnDefs: [{
        targets:[5],
        render: function(data, type, row, meta){
            if(type === 'sort'){
              var $input = $(data).find('input[type="checkbox"]').addBack();
              data = ($input.prop('checked')) ? "True" : "False";
            }
            return data; 
        }
      }]

    });
  });
};

function printDiv(divName, regid) {
    var mywindow = window.open('/registers/' + regid);
    var printContents = document.getElementById(divName).innerHTML;
    mywindow.document.body.innerHTML = printContents;
    mywindow.print();
    return true;
};

</script>
