<div class="row justify-content-center mt-4">
  <div class="col-lg-10 text-center" id="slogan">
    <h2 class="text-black">View and Search Registers</h2>
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="form-group ml-4 mr-4">
            <%= form_tag list_registers_path, remote: true, method: 'get' do %>
              <div class="input-group mb-4">
                <%= text_field_tag :query, params[:query], class: "form-control",id:"rounded-form", placeholder: "Search a Register (eg: first name, last name, email)" %>
                <button class="btn-xl" id="search_button" type="submit">
                  Search
                </button>
              </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<main>
  <div class="position-relative mb-4" style="min-height:10rem;">
    <div class="container p-4 shadow rounded">
      <div class="row justify-content-center">
        <div class="col-lg-12">

          <table class="table table-sm table-responsive-sm table-striped">
            <thead class="bg-success text-white">
              <tr>
                <th>No</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Phone number</th>
                <th>Email</th>
                <th>Show</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>

            <tbody id="search">
              <%= render partial: 'list' %>
            </tbody>
          </table>

          <br>

          <%= link_to 'New Register', new_register_path %>

        </div>
      </div>
      <div class="row justify-content-center" id="load-more">
        <%= link_to 'Click To Load More', registers_path(:page => @registers.next_page), class: "btn btn-outline-primary btn-xl mt-3 mb-3", :remote => true %>
      </div>
    </div>
  </div>
</main>


