<main style="background-color:whitesmoke;" >
    <div class="position-relative mt-4 mb-4">
      <div class="container p-4 shadow rounded">
        <div class="row justify-content-center">
          <div class="col-lg-12" id="print-section">

                <h3><%=@register.ticket_number%></h3>
                <p><%=@register.first_name%> <%=@register.last_name%></p>
                <div class="star color-<%= @register.drawing_chance %>"><%= @register.drawing_chance %></div>

          </div>
        </div>
      </div>
    </div>
</main>

<div class="row justify-content-center">
    <%= link_to "Click to Print", "", class: "btn btn-primary m-2", id: "printBtn", onclick: "printDiv('print')" %>
</div>


<script>
$("#printBtn").click(function(){
    printcontent($("#print-section").html());
});

function printcontent(content)
{
    var mywindow = window.open('', '', '');
    mywindow.document.write('<html><title>Print</title><body>');
    mywindow.document.write(content);
    mywindow.document.write('</body></html>');
    mywindow.document.close();
    mywindow.print();
    return true;
}
</script>



