    <%= stylesheet_link_tag "print", media: 'print' %>
    
    <div class="row">
        <div class="col-4"d="print-section">
            <div class="row">
                <div class="col-12">
                    <%= image_tag "brand/ogawa-#{@register.drawing_chance}.jpg", style: "width:100%;position:relative;" %>
                    <div class="top-right">
                        <p style="font-size:4rem;font-family:Righteous;"><%= @register.ticket_number %></p>
                    </div>
                </div>
                <div class="bottom-left col-6">
                    <p class="white-shadow" style="font-size:1.5rem;font-family:Righteous;"><%= @register.full_name.upcase %></p>
                    <% if @register.identity_number != "0" %>
                    <p class="white-shadow" style="font-size:1.5rem;font-family:Righteous;"><%= @register.identity_number %></p>
                    <% end %>
                    <p class="white-shadow" style="font-size:1.5rem;font-family:Righteous;"><%= @register.phone_number %></p>
                </div>
            </div>
        </div>
    </div>
