<div id="print-section">
    <div class="container">
    <%= image_tag "brand/ogawa-#{@register.drawing_chance}.jpg", style: "width:100%;" %>
    <div class="bottom-left">
        <h4><%= @register.first_name.upcase %> <%= @register.last_name.upcase %></h4>
        <h4>861125-38-6475</h4>
        <h4><%= @register.phone_number %></h4>
    </div>
    <div class="top-right"><p style="font-size:56px;"><%= @register.ticket_number %></p></div>
    </div>
</div>
