<div id="preview-title" class="row justify-content-center">
    <h3 class="mt-4">Print Preview</h3>
</div>

<page class="print-container" size="A5" layout="" id="print-section">

    <div id="row-1" class="row" style="width:100%;height:25%;">
        <div class="border text d-flex justify-content-center" id="title-1"><%= @register.ticket_number %></div>
    </div>

    <div id="row-2" class="row" style="width:100%;height:50%;">
        <div class="border text d-flex justify-content-center" id="title-2"><%= @register.full_name %></div>
        <div class="border text d-flex justify-content-center" id="title-3"><%= @register.info_1 %><span></div>
        <div class="border text" id="title-4"><%= @register.info_2 %></div>
    </div>

    <div id="row-3" class="row mt-2" style="width:100%;height:25%;">
        <div class="border text d-flex justify-content-center" id="title-5"><%= @register.full_name %></div>
        <div class="border text d-flex justify-content-center" id="title-6"><%= @register.ticket_number %></div>
    </div>

</page>