<div class="position-relative mt-4 mb-4">
    <div class="container p-4">
        <div class="row">
          <div class="col-lg-12 justify-content-center" id="print-section">
            <%= stylesheet_link_tag "print", media: 'print' %>
            <div style="border:2px dashed grey;margin:1rem">
                <h3 class="text-center"><%=@register.ticket_number%></h3>
                <p class="text-center">Name: <%=@register.first_name%> <%=@register.last_name%></p>
                <div class="mx-auto star color-<%= @register.drawing_chance %>">
                    <span class="pacifico text-white display-2"><%= @register.drawing_chance %><span>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>