<div class="card card-profile shadow mt--300">
  <div class="px-4">
    <%= form_for @user, method: 'patch', html: { multipart: true }, remote: true do |f| %>

    <%= f.hidden_field :id, value: @user.id %>

    <div class="row justify-content-center">
      <div class="col-lg-3 order-lg-2">
        <div class="card-profile-image">
          <% if @user.avatar? %>
            <%= image_tag(@user.avatar_url, class: "rounded-circle", id: "avatar") %>
          <% else %>
            <%= image_tag "theme/default.jpg", class: "rounded-circle", id: "avatar" %>
          <% end %>
        </div>
      </div>

      <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
        <% if current_user.id == @user.id %>
          <div class="card-profile-actions py-4 mt-lg-0">
              <%= submit_tag "Save Profile", class: "btn btn-sm btn-primary mr-4" %>
          </div>
        <% end %>
      </div>

      <div class="col-lg-4 order-lg-1">
        <div class="card-profile-stats d-flex justify-content-center">
          <div>
            <span class="heading"></span>
            <span class="description"></span>
          </div>
          <div>
            <span class="heading"></span>
            <span class="description"></span>
          </div>
          <div>
            <span class="heading"></span>
            <span class="description"></span>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center mt-5">
      <div class="h5 mt-4">Username: <%= @user.username %></div>
      <div class="h6 col-4 mx-auto mt-4"><%= f.file_field :avatar %> <%= f.check_box :remove_avatar %> Remove Avatar</div>
      <%= f.hidden_field :avatar_cache %>
      <div class="h6 col-4 mx-auto mt-4"><%= f.text_field :first_name, class: "form-control", value: @user.first_name %></div>
      <div class="h6 col-4 mx-auto mt-4"><%= f.text_field :last_name, class: "form-control", value: @user.last_name  %></div>
      <div class="h6 mt-4">Email: <%= @user.email %></div>
      <div class="h6 mt-4">Birthday: <%= @user.birthday %></div>
      <div class="h6 mt-4">Joined: <%= @user.created_at.strftime("%B %Y") %></div>
    </div>

    <div class="mt-5 py-5 border-top text-center">
      <div class="row justify-content-center">
        <div class="col-lg-9">
          <p><%= @user.username %></p>
        </div>
      </div>
    </div>
    <% end %>

  </div>
</div>
