<% @user = User.new %>
<%= form_for @user, id: 'signup'  do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      </ul>
    </div>
  <% end %>

  <div class="form-group mb-3">
    <div class="input-group input-group-alternative">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
      </div>
      <%= f.text_field :username, class: "form-control", placeholder: "Username" %>
    </div>
  </div>

  <div class="form-group mb-3">
    <div class="input-group input-group-alternative">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="ni ni-single-02"></i></span>
      </div>
      <%= f.text_field :first_name, class: "form-control", placeholder: "First Name" %>
      <%= f.text_field :last_name, class: "form-control", placeholder: "Last Name"  %>
    </div>
  </div>

  <div class="form-group mb-3">
    <div class="input-group input-group-alternative">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
      </div>
      <%= f.text_field :email, class: "form-control", placeholder: "IC / Passport Number" %>
    </div>
  </div>

  <div class="form-group focused">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
      </div>
      <%= f.text_field :birthday, value: "Birthday", class: "form-control datepicker" %>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group input-group-alternative">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
      </div>
      <%= f.password_field :password, class: "form-control", placeholder: "Password"  %>
    </div>
  </div>
  
  <div class="text-center">
    <button type="submit" class="btn btn-primary my-4">Sign Up</button>
  </div>
  
<% end %>

