<div class="card card-profile shadow mt--300">
  <div class="px-4">

    <div class="row justify-content-center">
      <div class="col-lg-3 order-lg-2">
        <div class="card-profile-image">
          <a href="#">
          <% if @user.avatar? %>
            <%= image_tag(@user.avatar_url, class: "rounded-circle") %>
          <% else %>
            <%= image_tag "theme/default.jpg", class: "rounded-circle" %>
          <% end %>
          </a>
        </div>
      </div>

      <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
        <% if current_user.id == @user.id %>
          <div class="card-profile-actions py-4 mt-lg-0 mb-3">
            <%= link_to "Edit Profile", edit_user_path(@user.id), class: "btn btn-sm btn-info mr-4", remote: true %>
          </div>
        <% end %>
      </div>

      <div class="col-lg-4 order-lg-1">
        <h5 class="mt-3 text-center"></h5>
        <div class="card-profile-stats d-flex justify-content-center">
          <div>
            <span class="heading"></span>
            <span class="description"></span>
          </div>
          <div>
            <span class="heading"></span>
            <span class="description"></span>
          </div>
          <div>
            <span class="heading"></span>
            <span class="description"></span>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center mt-5">
      <h3><%= @user.first_name %> <%= @user.last_name %></h3>
      <div class="h6 font-weight-300">Username: <%= @user.username %></div>
      <div class="h6 mt-4">Email: <%= @user.email %></div>
      <div class="h6 mt-4">Birthday: <%= @user.birthday %></div>
      <div class="h6 mt-4">Joined: <%= @user.created_at.strftime("%B %Y") %></div>
    </div>

    <div class="mt-5 py-5 border-top text-center">
      <div class="row justify-content-center">
        <div class="col-lg-9">
          <p><%= @user.username %></p>
        </div>
      </div>
    </div>

  </div>
</div>
