<% @dresses.each do |d| %>
    <div class="col-md-3">
        <div class="card card-lift--hover shadow mb-3">
            <div class="card-body">
            <%= image_tag(d.images_url, class: "img-fluid rounded shadow") %>
                <div class="card-body-area">
                    <h6 class="text-primary text-uppercase"><%= d.name %></h6>
                    <span class="badge badge-pill badge-primary">MYR <%= d.price %></span>
                    <span class="badge badge-pill badge-primary">Length <%= d.cm_length %>cm</span>
                    <span class="badge badge-pill badge-primary">Bust <%= d.cm_bust %>cm</span>
                    <span class="badge badge-pill badge-primary">Waist <%= d.cm_waist %>cm</span>
                    <span span class="badge badge-pill badge-primary">Hip <%= d.cm_hip %>cm</span>
                </div>
            </div>
        </div>
    </div>
<% end %>

<!-- To be Paginate -->