  <main>
    <div class="position-relative">
      <section class="section section-lg section-shaped pb-250">
        <div class="shape shape-style-1 shape-primary">
        </div>
        <div class="row">
          <div class="col-md-6 mx-auto">
            <div class="form-group">
              <h3>Search a Dress</h3>
              <%= form_tag search_dresses_path, remote: true, method: 'get' do %>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-zoom-split-in"></i></span>
                  </div>
                  <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Search, eg: color, type, code" %>
                  <%= submit_tag "Search", name: nil, class: "btn btn-sm btn-primary mr-4" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </section>
    </div>

    <section class="section section-lg pt-lg-0 mt--200">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="row row-grid" id="search">
              <%= render partial: 'show' %>
            </div>
            <% if @dresses == [] %>
              <h2>No Result is Found</h2>
            <% end %>
          </div>
        </div>
      </div>

      <div class="row justify-content-center" id="load-more">
        <%= link_to 'Click To Load More', dresses_path(:page => @dresses.next_page), class: "btn btn-outline-primary btn-lg", :remote => true %>
      </div>

    </section>

  </main>
