<!DOCTYPE html>
<html>
  <head>
    <title>Prins Solution</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag 'brand/favicon.png' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "print", media: 'print' %>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
 
  </head>

  <body>
    <div id="flash-message"><%= render partial: 'statics/message' %></div>
    <%= render partial: 'statics/navbar' %>
    <div class="h-100">
      <%= yield %>
    </div>
    <%= render partial: 'statics/modal' %>
    <% unless controller_name == 'registers' and action_name == 'show' %>
    <%= render partial: 'statics/footer' %>
    <% end %>
  </body>

</html>

